
								<div class="tile double image">
                        <div class="tile-content" style="padding:0px !important">
                            <a href='{{pathTo "photos" this}}'>
        <img title="{{title}}" src="{{largeURL}}"
            alt="Thumbnail of a photo with title: {{title}}" style="width:310px;height:300px;"  />
    </a>
                        </div>
                        <div class="brand">
                            <span class="name">{{title}}</span>
                       
                        </div>
                    </div>