<div class="tile double bg-color-blueDark">
<div class="tile-content">
    <a href='{{pathTo "photos" this}}' class="place-right">
        <img title="{{title}}" src="{{thumbURL}}"
            alt="Thumbnail of a photo with title: {{title}}" style="padding:5px;" />
    </a>
	
	
	<h4 class="imgti">{{title}}</h4>
	
	</div>
</div>
 