
<div class="tile bg-color-red">
<div class="tile-content">
    <a href='{{pathTo "photos" this}}'>
        <img title="{{title}}" src="{{thumbURL}}"
            alt="Thumbnail of a photo with title: {{title}}"  />
    </a>
	</div>
                                    <div class="brand">
                                        
                                        <div class="name">{{title}}</div>
                                    </div>
                                </div>