
					
					<div class="tile double-vertical bg-color-yellow icon">
                        <div class="tile-content">
                           <a href='{{pathTo "photos" this}}'>
        <img title="{{title}}" src="{{largeURL}}"
            alt="Thumbnail of a photo with title: {{title}}"   />
    </a>
                        </div>
                        <div class="brand">
                            <h3 class="name" style="font-size:14pt !important;">{{title}}</h3>
                        </div>
                    </div>